@charset "utf-8";
@font-face{font-family:'fontawesome';src:url('../fonts/reservation_fontawesome-webfont.eot') format('embedded-opentype'), url('../fonts/reservation_fontawesome-webfont.woff') format('woff'), url('../fonts/reservation_fontawesome-webfont.ttf') format('truetype'), url('../fonts/reservation_fontawesome-webfont.svg') format('svg'), url('../fonts/reservation_fa-brands.eot') format('embedded-opentype');font-weight:normal;font-style:normal;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.sr-only-focusable:active, .sr-only-focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto;}
@font-face{font-family:'fontawesome';font-style:normal;font-weight:400;font-display:block;src:url("../fonts/reservation_fa-brands.eot");src:url("../fonts/reservation_fa-brands.eot") format("embedded-opentype"), url("../fonts/reservation_fa-brands.woff") format("woff"), url("../fonts/reservation_fa-brands.ttf") format("truetype"), url("../fonts/reservation_fa-brands.svg") format("svg");}
.fab{font-family:'fontawesome';font-weight:400;}
@font-face{font-family:'fontawesome';font-style:normal;font-weight:400;font-display:block;src:url("../fonts/reservation_fa-regular.eot");src:url("../fonts/reservation_fa-regular.eot") format("embedded-opentype"), url("../fonts/reservation_fa-regular.woff") format("woff"), url("../fonts/reservation_fa-regular.ttf") format("truetype"), url("../fonts/reservation_fa-regular.svg") format("svg");}
.far{font-family:'fontawesome';font-weight:400;}
@font-face{font-family:'fontawesome';font-style:normal;font-weight:900;font-display:block;src:url("../fonts/reservation_fa-solid.eot");src:url("../fonts/reservation_fa-solid.eot") format("embedded-opentype"), url("../fonts/reservation_fa-solid.ttf") format("truetype"), url("../fonts/reservation_fa-solid.svg") format("svg");}
.fa,
.fas{font-family:'fontawesome';font-weight:900;}
@font-face{font-family:'IRANSansWeb';src:url('../fonts/reservation_IRANSansWeb(FaNum).ttf') format('truetype'), url('../fonts/reservation_IRANSansWeb(FaNum).eot') format('embedded-opentype');font-weight:normal;font-style:normal;}
@font-face{font-family:'IRANSansWebEnNum';font-style:normal;font-weight:lighter;src:url('../fonts/reservation_IRANSansWeb_Medium.eot');src:url('../fonts/reservation_IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),
url('../fonts/reservation_IRANSansWeb_Medium.woff2') format('woff2'),
url('../fonts/reservation_IRANSansWeb_Medium.woff') format('woff'),
url('../fonts/reservation_IRANSansWeb_Medium.ttf') format('truetype');}
:root {
    --primary: #153FAB;
    --primary-600: #0E82F0;
    --primary-500: #0091FF;
    --primary-300: #5CB1FF;
    --secondary:#FE6806;
    --secondary-800: #FE8903;
    --secondary-600: #FFAD00;
    --secondary-500: #FFBB00;
  }
.font-color_1{color:var(--primary-600);}
.background-color_1{background:var(--primary-600) !important;}
.mm-spn li:before{color:var(--primary-600);}
.mm-spn.mm-spn--navbar:before{color:var(--primary-600);}
.item-search:before{border: 1px dashedvar(--primary-600);}
.fa-times{ color:var(--primary-600); }
.top-menu {background: linear-gradient(-135deg,var(--primary-600), #3a434a);  }
.createChildDropdown select { background:var(--primary-600);  }
.reserve-button:hover { color:var(--primary-600) }
.total-cost { color: #00a703; font-size: 15px; }
.reserve-button { border: 1px solidvar(--primary-600); }
.title-result { border-bottom: 1px solidvar(--primary-600); }
.confirm {  background: linear-gradient(-90deg, var(--primary-600) 0%, #a7e5da 100%);  }
.confirm:hover { background: linear-gradient(-90deg, #a7e5da 0%, var(--primary-600) 100%); }
.details-item-title { border-bottom: 2px solidvar(--primary-600);  }
.section-details button{border: 2px solidvar(--primary-600);}
.section-details button:hover { background:var(--primary-600);  }
.section-research-left button:hover ,.after-btn:hover,.before-btn:hover,.section-filter-icon button:hover{ color:var(--primary-600); }
.progress-bar {background:var(--primary-600); }
.progress-bar {background-image: -webkit-linear-gradient(top,var(--primary-600) 0,#055784  100%);background-image: -o-linear-gradient(top,var(--primary-600) 0,#055784  100%);background-image: -webkit-gradient(linear,left top,left bottom,from(var(--primary-600)),to(#055784 ));background-image: linear-gradient(to bottom,var(--primary-600) 0,#055784  100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff286090', GradientType=0);background-repeat: repeat-x;}
.sort-box .sort-items li.active {color:var(--primary-600)}
.section-input_2 span.checkbox::before{border: 2px solidvar(--primary-600);}
.radioButton:checked+label span::after {color:var(--primary-600);border: 2px solidvar(--primary-600);}
.link-2:hover:after{border-color:var(--primary-600);}
.section-input_2 span.checkbox::before{  border: 2px solidvar(--primary-600);}
.section-input_2 input[type="checkbox"]:checked + label span.checkbox::after {background:var(--primary-600);}
.select-arrow::before{color:var(--primary-600);}
.selectCountry i{color:var(--primary-600);}
.highlight { color:var(--primary-600); }
.ui-datepicker-buttonpane .ui-state-default:hover,.ui-datepicker-buttonpane .ui-state-default:focus,.ui-datepicker-buttonpane .ui-datepicker-current:hover,.ui-datepicker-buttonpane .ui-datepicker-current:focus{background-color:var(--primary-600);}
.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active{border:1px solidvar(--primary-600);background:var(--primary-600)!important;}
.section-input_2 input[type="checkbox"]:checked + label span.checkbox::after {background:var(--primary-600);}
.loader {border-top: 5px solidvar(--primary-600); }
.Link-Forgetpass:hover, .Link-Register:hover, .Link-ResendMail:hover, .Link-Login:hover { color: var(--primary-600)!important; }
.ChangeFlight-header {background: linear-gradient(-135deg,var(--primary-600), #a7e5da);}
.active_tab_tour{color: #fff !important; background: var(--primary-600);}
.second-part-header .col1-second-part-header a:after,.second-part-header .col1-second-part-header a:before,
.second-part-header .col1-second-part-header a:after{background:var(--primary-600);}
.second-part-header .col1-second-part-header a span{background:var(--primary-600);}
.active-item-search img { background:#465f88 !important; }
.active-item-search .fa-arrow-down:before { color:#465f88 !important; }
.active-item-search .item-search:before { border: 1px dashed#465f88 !important; display: none; }
.radioButton:checked + label span::after {color:#465f88;border: 3px solid#465f88;}
.category-title:hover { background:#465f88 !important; }
.highlight { color:#465f88; }
.font-color_2{color: var(--primary-600);}
.background-color_2{background:#465f88 !important;}
.CountPassenger.room::before{color: #465f88 !important;}
.add-room { background: linear-gradient(-90deg,#465f88 0%, var(--secondary-600) 100%); }
.row1-footer .fa,.row1-footer .far {  border: 1px solid#465f88; }
.circle {color:#465f88; }
.details-button,.Others-Button { border: 1px solid#465f88;  }
.details-button:hover,.Others-Button:hover {color:#465f88 }
.row1-footer .fa:hover,.row1-footer .far:hover { color:#465f88; }
.row1-footer .fa,.row1-footer .far{background:#465f88; }
.fa-angle-double-left:hover,  .fa-angle-double-right:hover ,.controlsPage:hover{ background:#465f88;  }
.right-border-d {  border-left: 2px dashed#465f88;}
.right-border-d::after {background:#465f88;}
.right-border-d::before {background:#465f88;}
.sort-box .sort-items li.active {color:#465f88}
.CountPassenger.room::before{color: #465f88;}
.ui-datepicker-today .ui-state-highlight{background:#465f88;}
.ui-datepicker table thead th{background-color:#465f88;}
.ui-datepicker .ui-datepicker-buttonpane button{background-color:#465f88}
.fa.fa-user.is-login { color:  #00a703; }
.section_tour_room.active_room span{background:  #00a703;}
.selected{color: #00a703;}
.width_100 button{ background: #00a703 ;}
.submit:hover { color:#34495e; }
.font-color_3{color:var(--secondary-600);}
.background-color_3{background:var(--secondary-600);}
.font-color_4{color: #fff;}
.top-menu img{width: 70px; height: auto; filter: none;-webkit-filter: none;}
.col2-second-part-header img {width: 48px;height: auto;}
.mm-spn.mm-spn--navbar ul {margin-top: 100px !important;}
/*-----------------------------*/
.Basis_Calendar .selected_date{background: #465f88!important;}
.Basis_Calendar .month_day_list table td:hover{background:#465f88 }
.Basis_Calendar .month_detail{background:#465f88}
.Basis_Calendar .basis_s_day{color:var(--primary-600);}
.Basis_Calendar .day_of_date{color:var(--primary-600);}
.Basis_Calendar .month_of_date{color:var(--primary-600);}
.Basis_Calendar .date_info_selected{border-bottom: 2px solid var(--primary-600);}
.Basis_Calendar .month_detail{border-bottom: 2px solid var(--primary-600);}
.Basis_Calendar .selected_day {background: var(--primary-600);}
.warning {color: red;}
