@charset "utf-8";
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
	font-display: swap;
	font-family: 'DanaFaNum';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/DanaFaNum-Regular.ttf') format('truetype');
}
@font-face {
	font-display: swap;
	font-family: 'DanaFaNum-Medium';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/DanaFaNum-Medium.ttf') format('truetype');
}
@font-face {
	font-display: swap;
	font-family: 'DanaFaNum-Bold';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/DanaFaNum-Bold.ttf') format('truetype');
}
:root {
    --primary: #153FAB;
	--primary-700: #1370DD;
    --primary-600: #0E82F0;
	--primary-500: #0091FF;
    --primary-300: #5CB1FF;
	--secondary:#FE6806;
	--secondary-600: #FFAD00;
    --secondary-500: #FFBB00;
}
* {
	border-width: 0;
	border-style: solid;
	border-color: #e5e7eb;
	text-decoration: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clr{clear:both;margin:0 auto;display:block}
html {
	font-family: 'DanaFaNum';
}
input,select,button,textarea {font-family: 'DanaFaNum';}
.DanaFaNum-Bold {font-family: 'DanaFaNum-Bold';}
.dir-ltr {direction: ltr;}
.dir-rtl {direction: rtl;}
.bg-unset {background-color: unset;}
.bg-opacity {background: #0009;}
.ectText--1 {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}
.ectText--9 {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 9;
}
#footer-resize {
	background-image: url(images/footer-bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
@media not all and (min-width: 1280px) {
	.header-visible {
	  visibility: visible !important;
	  opacity: 1;
	  transform: translateX(0px) !important;
	  transition: transform 0.5s ease-in-out;
	  transition-property: transform;
	  transition-duration: 0.5s;
	  transition-timing-function: ease-in-out;
	}
  }